#buttons {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: blue;
}

#buttonsTER {
        -fx-font-size: 50pt;
}

.buttonsGanador {
    -fx-text-fill: green;
    -fx-font-size: 50pt;
}